<% layout('Layouts/Boilerplate') -%>

<div class="alert alert-danger mt-4 text-center" role="alert">
    <h1 class="alert-heading"><%= err.status %></h1>
    <h4 class="alert-heading"><%= err.message %></h4>
    
  </div>