<% layout('../Layouts/Boilerplate') -%>

<div id="home" class="row justify-content-center align-items-center vh-100 " >
    <div class="col-6 text-center">
        <h1>Welcome to Campify</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius delectus temporibus, ipsum illo quia possimus similique nulla ut neque facere blanditiis, laborum, aperiam iure laudantium. Saepe velit dolor id magni.</p>
        <button class="btn btn-primary m-auto" ><a href="/campgrounds">See All Camps</a> </button>
    </div>
</div>
