<% layout('Layouts/Boilerplate') -%>
<section id="home" class="row vh-100 align-items-center justify-content-center">
  <div class="col-6">
    <img src="https://res.cloudinary.com/dnmkjdwgf/image/upload/v1686241235/2006.i203.009.camping_cartoon_composition_ambtke.jpg"  class="img-fluid" alt="">
  </div>
  <div class="col-6 d-flex justify-content-center text-center flex-column  ">
    <h1>Need a camp for the holiday? We got you</h1>
    <p>Browse all the camps on our webiste and see the perfect camp for you</p>
    <a class="btn btn-primary" href="/campgrounds"> See All Camps</a>
  </div>
</section>